.login .input {
    width: 48%;
    float: left;
    margin-right: 4%;
}

.login .input:last-child {
    margin-right: 0;
}

.input {
    width: 100%;
    font-size: 20px;
    padding: 20px;
    box-sizing: border-box;
    margin-bottom: 25px;
    margin: 10px;
    border-radius: 5px;
    outline: none;
    transform: all 0.5s ease;
}
.container1 {
    max-width: 800px;
    height: 600px;
    background: linear-gradient(rgba(28, 188, 156, 0.7), rgba(142, 68, 173, 0.7)),
    url(img.png);
    background-size: cover;
    background-position: center;
    margin: 50px auto;
    box-shadow: 0 0 20px rgba(72, 98, 85, 0.6);
    box-sizing: border-box;
    padding: 40px;
    background-size: cover;
    background-position: cent;
}

.btn-1 {
    padding: 0.8rem 2rem;
    font-size: 1rem;
    color: white;
    border-radius: 6px;
    background-color: rgb(122, 122, 207);
    font-weight: 600;
    border: 2px solid transparent;
    outline: none;
    cursor: pointer;
    text-transform: uppercase;
    transition: all 0.3s;
    margin: 15px;
}
.btn-1:hover {
    background-color: rgb(54, 50, 51);
}

.msg .area {
    height: 150px;
}
.input,
.msg .area {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    margin-bottom: 25px;
    border: 2px solid #e9eaea;
    font-size: 16px;
    border-radius: 5px;
    outline: none;
    transform: all 0.5s ease;
}

.input:focus,
.msg .area:focus {
    border: 2px solid #486255;
}

.login .input:last-child {
    margin-right: 0;
}

.btn-2 {
    padding: 0.8rem 2rem;
    font-size: 1rem;
    color: white;
    border-radius: 6px;
    background-color: rgb(122, 122, 207);
    font-weight: 600;
    border: 2px solid transparent;
    outline: none;
    cursor: pointer;
    text-transform: uppercase;
    transition: all 0.3s;
    margin-top: 50px;
    text-align: center;
}
.btn-2:hover {
    background-color: rgb(54, 50, 51);
}