*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navlinks NavLink{
    text-decoration: none;
}

nav{
    display: flex;
    justify-content: space-around;
    /*min-height: 8vh;*/
    height: 80px;
    background-color: #53aadc;
}

.navlinks{
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    width: 30%;
    font-size: 25px;
}

.logo{
    color: #282c34;
    font-size: 32px;
    text-align: center;
}


.nav-item{
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    color: #282c34;
    margin-top: 15px;
    font-size: 30px;
    transition: 0.5s all ease-in-out;
    font-family: 'lato';
    font-weight: 800;

}

.nav-item:hover{
    color: rgb(47, 41, 34);
    font-family: sans-serif;

}

.nav-head{
    padding: 30px;
    color: #282c34;
    font-family: cursive;
    font-size: 35px;
    font-family: 'lato';
    font-weight: 800;
}

body{
    background:rgb(188, 212, 223);
}





